.footer {
  background-color: rgb(255, 255, 6);
  display: flex;
  justify-content: space-around;
  bottom: 0;
  width: 100%;
  height: 3rem;
  position: fixed;
  margin-top: 50px;
}

.footer img {
  background-color: rgb(255, 255, 6);
  margin: 0%;
  padding: 0;
}

.footer button {
  background-color: rgb(255, 255, 6);
}